@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inspiration&display=swap');

body{
  padding: 0;
  margin: 0;
}

@keyframes slide1{
  from {right: -150vw;}
  to {right: 50vw;}
}

#left-side, #right-side{
  height: 100vh;
  width: 50vw;
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

#left-side{
  background-color: #E3E3E3;
  left: 0;
}

#right-side{
  background-color: #8a2be2;
  right: 0;
}

#text1, #text2{
  font-size: 200px;
  font-family: 'Bebas Neue', sans-serif;
  line-height: 100vh;
  position: absolute;
  right: -1150vw
}

#text1{ 
  animation: slide1 10s linear infinite;
  color: #E3E3E3;
}

#text2{
  animation: slide1 10s linear infinite;
  animation-delay: 2.5s;
  color: #8a2be2;
}

@media screen and (max-width: 1500px){
  @keyframes slide1{
    from {right: -220vw;}
    to {right: 50vw;}
  }

  #text2{
    animation-delay: 1.9s;
  }
}

@media screen and (max-width: 1000px){
  @keyframes slide1{
    from {right: -290vw;}
    to {right: 50vw;}
  }

  #text2{
    animation-delay: 1.5s;
  }
}

@media screen and (max-width: 750px){
  @keyframes slide1{
    from {right: -440vw;}
    to {right: 50vw;}
  }

  #text2{
    animation-delay: 1s;
  }
}

@media screen and (max-width: 500px){
  @keyframes slide1{
    from {right: -880vw;}
    to {right: 50vw;}
  }

  #text2{
    animation-delay: 0.55s;
  }
}

@media screen and (max-width: 250px){
  @keyframes slide1{
    from {right: -1150vw;}
    to {right: 50vw;}
  }

  #text2{
    animation-delay: 0.4s;
  }
}






