body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.icons {
  display: flex;
  gap: 5vw;
}

@keyframes hover-icons { 
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

span {
  width: 15vw;
  height: 15vw;
  border: 0.1rem solid hsl(271, 100%, 50%);
  border-radius: 50%;
  position: relative;
  transition: 1s;
}

span::before{
  content: '';
  width: 15vw;
  height: 15vw;
  opacity: 0;
  border: 0.15rem dashed hsl(271, 100%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hover-icons 6s linear infinite;
  transition: 1s;
}

span:hover::before {
  content: '';
  width: 13.2vw;
  height: 13.2vw;
  opacity: 1;
  border: .3vw dashed hsl(271, 100%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hover-icons 6s linear infinite;
}

span::after{
  content: '';
  width: 20vw;
  height: 20vw;
  opacity: 0;
  background-color: hsl(271, 100%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: -1;
  transition: 1s;
}

span:hover::after {
  content: '';
  width: 15vw;
  height: 15vw;
  opacity: 1;
  background-color: hsl(271, 100%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: -1;
}

span svg {
  height: 7vw;
  width: 7vw;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span svg path {
  fill: hsl(271, 100%, 50%);
  transition: 1s;
}

span:hover svg path {
  fill: hsl(0, 0%, 89%);
}
