@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inspiration&display=swap');

*::selection{
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar
{
	width: .8rem;
}

body::-webkit-scrollbar-thumb
{
	background: #E3E3E3;
  border-left: .2rem solid #8400ff;
}

.return{
  margin: 1%;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}