body{
  background-color: #E3E3E3;
  margin: 0;
  padding: 0;
}

.squares-all{
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.square{
  display: inline-block;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #8400ff;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  animation: preloader 3s ease-in-out infinite;
}

.square:nth-child(1){
  animation-delay: 1s;
}

.square:nth-child(2){
  animation-delay: 2s;
}

.square:nth-child(3){
  animation-delay: 3s;
}

@keyframes preloader{
  0%{top: 40%; left: 55%;}
  25%{top: 55%; left: 55%;}
  50%{top: 55%; left: 40%;}
  75%{top: 40%; left: 40%;}
}