@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');

body{
  background-color: #E3E3E3;
  margin: 0;
  padding: 0;
}

.btn{
  width: 250px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid;
  font-family: 'Azeret', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #872BA6;
  transition: 0.7s;
  cursor: pointer;
  background-color: transparent;
}

.btn::before, .btn::after
{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 0px solid black;

    transition: .4s linear;
}

.btn::before
{
    top: -11px;
    left: 10%;
}
.btn::after
{
    bottom: -11px;
    right: 10%;
}
.btn:hover::before
{
    left: 80%;
}
.btn:hover::after
{
    right: 80%;
}

