body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.text{
  background-color: antiquewhite;
}