:root{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes colorChange
{
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes moving {
  to{transform: rotate(360deg);}
}

@keyframes reverseMoving {
 to {transform: rotate(-360deg);}
}

.particles
{
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.particles:nth-child(even)
{
    transform-origin: left;
}

.particles span
{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.particles span:before 
{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.particles span:nth-child(3n + 1):before
{
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
                0 0 40px rgba(134,255,0,1),
                0 0 60px rgba(134,255,0,1),
                0 0 80px rgba(134,255,0,1),
                0 0 0 8px rgba(134,255,0,.1);
}
.particles span:nth-child(3n + 2):before
{
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
                0 0 40px rgba(255,214,0,1),
                0 0 60px rgba(255,214,0,1),
                0 0 80px rgba(255,214,0,1),
                0 0 0 8px rgba(255,214,0,.1);
}
.particles span:nth-child(3n + 3):before
{
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
                0 0 40px rgba(0,226,255,1),
                0 0 60px rgba(0,226,255,1),
                0 0 80px rgba(0,226,255,1),
                0 0 0 8px rgba(0,226,255,.1);
}
.particles span:nth-child(3n+1)
{
    animation: moving 10s alternate infinite;
}
.particles span:nth-child(3n+2)
{
    animation: reverseMoving 3s alternate infinite;
}
.particles span:nth-child(3n+3)
{
    animation: moving 8s alternate infinite;
}