:root{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  overflow: hidden;
}

@keyframes rainbowAndMove {
  0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.particles{
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: rainbowAndMove 5s linear infinite;
}

.particle1:before{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 290%;
  left: 190%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle1:after{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -290%;
  left: -190%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle2:before{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 690%;
  left: 590%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle2:after{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -690%;
  left: -590%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle3:before{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 990%;
  left: 890%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle3:after{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -990%;
  left: -890%;
  border-radius: 50%;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}