:root{
  font-size: 62.5%;
}

body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

@keyframes changeRainbow {
  0%{background-color: #ff0000;
     box-shadow: 0 0 4rem #ff0000;}
  25%{background-color: #00ff04;
     box-shadow: 0 0 4rem #00ff04;}     
  50%{background-color: #00b7ff;
      box-shadow: 0 0 4rem #00b7ff;}
  75%{background-color: #1500ff;
     box-shadow: 0 0 4rem #1500ff;}
  100%{background-color: #ff0000;
       box-shadow: 0 0 4rem #ff0000;}
}

@keyframes moving {
  
}

.particle{
  width: 4rem;
  height: 4rem;
  display: block;
  position: absolute;
  top: 30%;
  left: 30%;
  border-radius: 50%;
  animation: changeRainbow 5s linear infinite;
}

/* .particle:before{
  content: '';
  width: 4rem;
  height: 4rem;
  display: block;
  position: absolute;
  top: 290%;
  left: 190%;
  border-radius: 50%;
  animation: changeRainbow 5s linear 2s infinite;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
}

.particle:after{
  content: '';
  width: 4rem;
  height: 4rem;
  display: block;
  position: absolute;
  top: -290%;
  left: -190%;
  border-radius: 50%;
  animation: changeRainbow 5s linear 1s infinite;
  background-color: #ff0000;
  box-shadow: 0 0 4rem #ff0000;
} */