body{
  background-color: #E3E3E3;
  margin: 0;
  padding: 0;
}

.squares-all{
  height: 50vmin;
  width: 50vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.square{
  display: inline-block;
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  background-color: #8400ff;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  animation: preloader 3s ease-in-out infinite;
}

.square:nth-child(2){
  animation-delay: 1s;
}

.square:nth-child(3){
  animation-delay: 2s;
}

@keyframes preloader{
  0%{top: 35%; left: 65%;}
  25%{top: 65%; left: 65%;}
  50%{top: 65%; left: 35%;}
  75%{top: 35%; left: 35%;}
}