body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2e2e2e;
}

.btn{
  position: relative;
  text-transform: uppercase;
  width: 50vw;
  height: 20vw;
  border: .3vw solid #E3E3E3;
  background-color: transparent;
  color: #E3E3E3;
  font-size: 5vw;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1vw;
  transition: .5s;
  overflow: hidden;
}

.btn:hover{
  background-color: #0000009a;
}

.btn:before{
  content: '';
  position: absolute;
  background-color: #E3E3E3;
  transform: translate(-50%, -50%) skewX(45deg);
  top: 50%;
  left: -30%;
  height: 100%;
  width: 10%;
  transition: .5s;
}

.btn:hover:before{
  left: 130%;
}