@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&display=swap');

body{
  background-color: #E3E3E3;
  margin: 0;
  padding: 0;
}

.return{
  position: absolute;
  width: 60px;
  height: 60px;
}

.btn{
  width: 250px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid;
  font-family: 'Azeret', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #872BA6;
  transition: 0.7s;
  cursor: pointer;
  background-color: transparent;
}

.btn::before, .btn::after{
  content: '';
  background-color: #E3E3E3;
  position: absolute;
  width: 30px;
  height: 10px;
  transform: skewX(45deg);
  transition: .5s;
}

.btn::before{
  bottom: 45px;
  left: 20px;
}

.btn::after{
  top: 45px;
  right: 20px;
}

.btn:hover::before{
  left: 190px;
}

.btn:hover::after{
right: 190px;
}