
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.return{
  position: absolute;
  width: 60px;
  height: 60px;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 4vw;
  color: #8400ff;
  text-align: center;
  line-height: 20vh;
  transition: .5s;
  border: solid;
}

.text:after {
  content: '';
  animation: switch-img 3s linear infinite;
  margin-left: 10px;
  position: absolute;
  top: -0.8%;
  text-shadow: 3px 3px 1px #8400ff;
}

.text:hover{
  letter-spacing: 10px;
  animation: rotation 3s linear infinite;
}

@keyframes switch-img {
  0%{content: '🕹️';}
  50%{content: '⏱️';}
  100%{content: '📕';}
}

@keyframes rotation {
  25%{transform: translate(-50%, -50%) rotate(10deg);}
  75%{transform: translate(-50%, -50%) rotate(-10deg);}
}