*::selection{
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
}

.btn{
  width: 50vmin;
  height: 15vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%);
  border: 2px solid #8400ff;
  color: #8400ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
  text-align: center;
  text-transform: uppercase;
  line-height: 15vmin;
  letter-spacing: 7px;
  cursor: pointer;
  overflow: hidden;
}

.btn:hover{
  color: #2e2e2e;
}

.btn:before{
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8400ff;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.btn:hover:before{
  height: 200%;
}

.btn, .btn:before{
  transition: .5s;
}