body{
  margin: 0;
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E3E3E3;
}

@keyframes bouncing {
  0%{transform: translateY(0%);}
  50%{transform: translateY(-400%);}
  100%{transform: translateY(0%);}
}

div.balls{
  border-bottom: 20px solid #8400ff;
  display: flex;
  transform: translateY(250%);
  justify-content: center;
  width: 500px;
  height: 30px;
  gap: 5%;

}

div.balls span{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #8400ff;
  border-radius: 50%;
  animation: bouncing 1.5s linear infinite;
}

div.balls span:nth-child(2){
  animation-delay: .2s;
}

div.balls span:nth-child(3){
  animation-delay: .5s; 
}

div.balls span:nth-child(4){
  animation-delay: .7s;
}

div.balls span:nth-child(5){
  animation-delay: .9s;
}